body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #b7b7b7
}

body {
  font-family: helvetica, sans-serif;
}

h1 {
  color: #663d66;
  margin: 0;
  background-color: white;
}

/* header */

#game-info {
  width: 95%;
  display: flex;
  text-align: center;
  margin: auto;
  font-size: 24px;
}

#moves-num,
#stars,
#reset {
  margin: 10px;
}

#reset,
.start {
  background-color: #99ff99;
  border-radius: 15px;
  padding: 8px;
  color: #664c7f;
  cursor: pointer;
}

/* main card grid section */

#card-grid {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #3cbcfc;
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
}

.card-wrapper {
  perspective: 1000px;
  background-color: gray;
  margin: 5px;
  /* 40px for the margins and divide by for so theres 4 cards on screen */
  width: calc((100% - 40px) / 4);
  border-radius: 10px;
}

.flip {
  transform: rotateY(-180deg);
}

.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card,
.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.back,
.front {
  position: absolute;
  color: white;
  backface-visibility: hidden;
}

.back {
  background-color: #ff99ff;
}

.front {
  background-color: #663d66;
  transform: rotateY(-180deg);
  font-size: 60px;
}

.correct {
  background-color: #99ff99;
}

.incorrect {
  background-color: #ff5e5e;
}

/* .spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
} */


/* modal section */

.modal {
  text-align: center;
  margin-top: 60px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-victory,
.modal-new-game {
  color: #ff99ff;
  border-radius: 10px;
  margin: auto;
  width: 80%;
  background-color: #663d66;
  border: 5px solid #ff99ff;
}

.modal-victory {
  display: none;
  font-size: 24px;
  height: 300px;
  margin-top: 15px;
}

.modal-new-game {
  font-size: 30px;
  height: 170px;
}

.num-container {
  width: 100%;
  display: flex;
}

.start {
  font-size: 24px;
  margin-top: 5px;
}

.card-num {
  width: 25%;
  font-size: 32px;
  cursor: pointer;
}

p {
  margin-bottom: 8px;
}

.selected {
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  #star-one,
  #star-two,
  #star-three {
    width: 50px;
    height: 50px;
  }

  #game-info {
    font-size: 40px;
  }

  #reset {
    font-size: 28px;
  }

  h1 {
    padding: 30px 0;
    font-size: 60px;
  }

  .card-wrapper {
    margin: 10px;
    width: calc((100% - 80px) / 4);
  }

  .front {
    font-size: 100px;
  }

  .modal-new-game {
    height: 280px;
    font-size: 50px;
  }

  .card-num {
    font-size: 50px;
  }

  .start {
    font-size: 50px;
  }

  .modal-victory {
    font-size: 50px;
    height: 500px;
  }
}

@media screen and (min-width: 750px) {
  #card-grid {
    width: 750px;
    margin: auto;
  }

  #game-info {
    width: 575px;
  }

  .modal-new-game {
    width: 550px;
  }

  .modal-victory {
    font-size: 40px;
    width: 550px;
    height: 400px;
  }

  .front {
    font-size: 150px;
  }
}
